* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-color: #333;
  --tran-bg-color: rgba(255, 255, 255, .1);
  --tran-bg-dark-color: rgba(0, 0, 0, .2);
  --tran-accent-bg-color: rgba(0, 126, 255, .2);
  --background-inner-color: black;
  --accent-color: var(--background-inner-color);
  color: white;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

html,
body {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

body {
  background-color: var(--background-inner-color);
  -webkit-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

body::before {
  content: '';
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background-image: -o-radial-gradient(circle at center, rgba(0, 0, 0, .5), rgba(0, 0, 0, .9));
  background-image: -o-radial-gradient(center, circle, rgba(0, 0, 0, .5), rgba(0, 0, 0, .9));
  background-image: radial-gradient(circle at center, rgba(0, 0, 0, .5), rgba(0, 0, 0, .9));
  z-index: -1;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2em 10dvw;
  margin: 3em 2em;
  min-height: calc(100dvh - 6em);
}

.button,
.button>* {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 480px;
  aspect-ratio: 2/3;
}

#qr-preview {
  width: 100%;
  border-radius: 1em
}

#wfcontrols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#wfcontrols.hidden {
  height: 0;
  pointer-events: none;
  opacity: 0;
}

#wfcontrols>* {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 3em;
  min-width: 3em;
  border-radius: 1em;
  background-color: var(--tran-bg-dark-color);
}

#preview canvas {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

#preview.load canvas {
  opacity: 0;
}

.load::before,
.load::after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 1em);
  bottom: calc(50% - 1em);
  border-radius: 1em;
  width: 2em;
  background: rgba(128, 128, 128, .2);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  -webkit-transform-origin: 50% calc(100% - 1em);
  -ms-transform-origin: 50% calc(100% - 1em);
  transform-origin: 50% calc(100% - 1em);
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
  z-index: -1;
}

.load::before,
.load::after {
  opacity: 1;
}

.load::before {
  height: 15%;
  -webkit-animation: rotateHand 10s linear infinite;
  animation: rotateHand 10s linear infinite;
}

.load::after {
  height: 20%;
  -webkit-animation: rotateHand 2s linear infinite;
  animation: rotateHand 2s linear infinite;
}

@-webkit-keyframes rotateHand {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateHand {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.controls,
.controls .buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.controls {
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

.buttons {
  flex-wrap: wrap;
}

#imagePicker {
  width: 100%;
}

#imagePicker>div:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: var(--tran-bg-dark-color);
  border-radius: 1em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#imagePicker>div:last-child {
  padding: 0 1em;
}

input:focus-visible {
  outline: none;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1em;
}

.controls .button {
  height: 3em;
}

.inputContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
  background: var(--tran-bg-dark-color);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 1em;
  border: 1px solid var(--tran-bg-color);
  box-sizing: border-box;
}

.text-input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 1em;
  color: white;
  background: none;
}

.text-input::-webkit-input-placeholder {
  color: white;
  opacity: .3;
}

.text-input::-moz-placeholder {
  color: white;
  opacity: .3;
}

.text-input:-ms-input-placeholder {
  color: white;
  opacity: .3;
}

.text-input::-ms-input-placeholder {
  color: white;
  opacity: .3;
}

.text-input::placeholder {
  color: white;
  opacity: .3;
}

#save {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  aspect-ratio: 1;
  height: 100%;
  background-color: var(--tran-bg-dark-color);
  -webkit-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#imagePicker svg,
#save svg {
  width: 50%;
}

.button:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}

.checkbox label, .buttonContainer {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1em;
}

.checkbox.disable {
  display: none;
}

.checkbox input {
  display: none;
}

.checkbox .input, .buttonContainer .icon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  border-radius: 1em;
}

.controls .checkbox .input>* {
  width: 50%;
  opacity: .5;
}

.controls .checkbox input:checked+label .input>* {
  opacity: 1;
}

.controls .checkbox .input, .buttonContainer .icon {
  height: 3em;
  background-color: var(--tran-bg-dark-color);
}

#header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  position: fixed;
  top: 0;
  width: calc(100% - 4em);
  height: 2em;
  margin: 2em;
}

#header a,
#header>.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 2em;
}

#header svg {
  color: white;
  width: inherit;
  height: inherit;
}

#source {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: .5em;
}

#deviceChooser {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: .5em;
  position: absolute;
  right: 0;
  top: 0;
}

.closeModal {
  aspect-ratio: 1;
  height: 2em;
}

#openDevices::after {
  content: attr(data-count);
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: .6em;
}

#closeDevices {
  background-color: var(--tran-bg-dark-color);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 25%;
}

#version,
#openFaq {
  position: fixed;
  bottom: 2em;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  color: var(--tran-bg-color);
}

#version {
  left: 2em;
}

#openFaq {
  right: 2em;
  width: 1.5em;
}

#version:hover,
#openFaq:hover {
  color: white;
}

.closeModal {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

#devices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  gap: 1em;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: calc(100dvh - 4em);
  overflow: auto;
}

#devices .brand {
  background: var(--tran-bg-dark-color);
  border: 1px solid var(--tran-bg-color);
  border-radius: 1em;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: default;
  height: auto;
  -webkit-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
  overflow: hidden;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

#devices .brand .title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--tran-bg-dark-color);
  border-bottom: 1px solid transparent;
  border-radius: 1em;
  padding: .8em .5em;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

#devices .brand .title.active {
  border-bottom: 1px solid var(--tran-bg-color);
}

#devices .brand .title.active,
#devices .brand .title:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
  padding: 1em .5em;
}

#devices .device {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: .5em;
  height: 0;
  padding: 0 .5em;
  background-color: transparent;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
}

#devices .model {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: .5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#devices .display {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 1em;
  background: var(--tran-bg-color);
  border: 1px solid var(--tran-bg-color);
}

.display.round {
  width: 1em;
  border-radius: .5em;
}

.display.square {
  width: .8em;
  margin: 0 .1em;
  border-radius: .2em;
}

.display.band {
  width: .4em;
  margin: 0 .25em;
  border-radius: .25em;
}

#devices .variants {
  display: none;
  flex-wrap: wrap;
  gap: .75em;
}

#devices .title.active~.device.active .variants {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#devices .variant {
  aspect-ratio: 1;
  height: 0;
  border: 1px solid var(--tran-bg-color);
  border-radius: .5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

#devices .device.active .variant {
  width: 2em;
  height: auto;
  opacity: 1;
  pointer-events: auto;
  transform: scale(.75);
}

#devices .variant:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}

#devices .variant.active {
  transform: scale(1) !important;
}

#devices .title.active~.device {
  min-height: 2em;
  height: auto;
  padding-top: .5em;
  padding-bottom: .5em;
  opacity: 1;
  pointer-events: unset;
}

#devices .title.active~:not(:first-child) {
  margin-top: .5em;
}

#devices .title.active~.device:last-child {
  border-radius: 0 0 .5em .5em;
  margin-bottom: .5em;
}

#devices .device:hover {
  background-color: var(--tran-bg-color);
}

#devices .device.active {
  background-color: var(--tran-bg-color);
}

.hide {
  display: none !important;
}

#modalContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100dvw;
  height: 100dvh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: height .5s;
  -o-transition: height .5s;
  transition: height .5s;
}

#modalContainer.hidden {
  z-index: -100;
}

#modalContainer .modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.5em;
  width: 90%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 500px;
  max-height: calc(100% - 4em);
  background: var(--tran-bg-dark-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0px .5em 2em rgba(0, 0, 0, .3);
  box-shadow: 0px .5em 2em rgba(0, 0, 0, .3);
  border-radius: 2em;
  border: 1px solid var(--tran-bg-color);
  padding: min(5dvw, 3em);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

#modalContainer .modal>div:not(.title) {
  overflow-y: auto;
}

#modalContainer:not(.active) .modal {
  -webkit-transform: translateY(5em);
  -ms-transform: translateY(5em);
  transform: translateY(5em);
  opacity: 0;
}

.modal .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: .5em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal .title>*:first-child {
  font-size: 1.5em;
}

.modal .title+div {
  line-height: 2em;
}

.modal .load {
  width: 20em;
  font-size: .5em;
  aspect-ratio: .75;
  margin: 0 auto;
  position: relative;
}

#versions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.5em;
}

#versions .version {
  margin-bottom: .5em;
  font-size: 1.2em;
}

.languages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.lang {
  background: var(--tran-bg-color);
  padding: 0 1em;
  border: 1px solid var(--tran-bg-color);
  border-radius: 1em;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.donationButtons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 1em 2em;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.donationButtons a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: .5em;
  color: white;
  text-decoration: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.donationButtons svg {
  height: 2em;
}

#preview-chooser {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

#preview-chooser .variant {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  aspect-ratio: 1;
  background: rgba(0, 0, 0, .3);
  backdrop-filter: blur(3px);
  border-radius: 1em;
  cursor: pointer;
  transition: all .5s;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, .2);
}
#preview-chooser .variant:hover {
  border: 1px solid rgba(255, 255, 255, .5);
}

@media (max-width: 600px) {
  #header {
    margin: 1em;
    width: calc(100% - 2em);
  }

  #version {
    left: 1em;
    bottom: 1em;
  }

  #openFaq {
    right: 1em;
    bottom: 1em;
  }

  #devices {
    max-height: calc(100dvh - 2em);
  }

  .container {
    margin: 2em 1em;
    gap: 1em 0;
  }

  .controls {
    gap: 1em;
  }

  .controls .label {
    display: none;
  }

  #imagePicker {
    width: auto;
    aspect-ratio: 1;
  }

  .inputContainer {
    width: 100%;
  }
}

:root {
  scrollbar-color: var(--tran-bg-color) #111214;
}

:root * {
  scrollbar-color: var(--tran-bg-color) transparent;
}