:root {
  --accent-color: #007eff;
  --dark-color: #333;
  --tran-bg-color: rgba(128, 128, 128, .2);
  background-image: -o-radial-gradient(#071022, #111214);
  background-image: radial-gradient(#071022, #111214);
  color: white;
  padding: 2em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2em 10dvw;
  margin: 3em 2em;
  max-width: 100dvw;
  max-height: 100dvh;
}

#preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 480px;
  aspect-ratio: 2/3;
}

#preview canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2em;
  max-width: 600px;
}

#imagePicker > div:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: var(--tran-bg-color);
  border-radius: 1em;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  aspect-ratio: 1;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
#imagePicker > div:last-child {
  padding: 0 1em;
}

input:focus-visible {
  outline: none;
}

.controls .button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
  cursor: pointer;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1em;
}

#saveContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
  background: var(--tran-bg-color);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 1em;
}

#fileName {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 1em;
  color: white;
  background: none;
}

#save {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  aspect-ratio: 1;
  height: 100%;
  background: var(--accent-color);
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#imagePicker svg,
#save svg {
  width: 50%;
}

.button:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}

.checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}
.checkbox label {
  cursor: pointer;
}
.checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2em;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}
.checkbox input::before,
.checkbox input::after {
  display: block;
  content: "";
  position: absolute;
  width: 2em;
  aspect-ratio: 1;
  border-radius: 25%;
  background: var(--tran-bg-color)
}
.checkbox input::after {
  width: 1.2em;
}
.checkbox input:checked::after {
  background: var(--accent-color);
}

#devices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 2em;
  right: 2em;
  left: 2em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: .5em;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
}
#devices > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2em;
  min-width: 4em;
  background: var(--tran-bg-color);
  border-radius: 1em;
  padding: 0 .5em;
  cursor: pointer;
}

@media (max-width: 600px) {
  #devices {
    top: 1em;
    left: 1em;
    right: 1em;
  }
}